<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="facility">
      <h2 data-cy="facilityDetailsHeading"><span jhiTranslate="myApp.facility.detail.title">Facility</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ facility.id }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.facility.aC">A C</span></dt>
        <dd>
          <span>{{ facility.aC }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.facility.parking">Parking</span></dt>
        <dd>
          <span>{{ facility.parking }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.facility.wifi">Wifi</span></dt>
        <dd>
          <span>{{ facility.wifi }}</span>
        </dd>
        <dt><span jhiTranslate="myApp.facility.roomid">Roomid</span></dt>
        <dd>
          <div *ngIf="facility.roomid">
            <a [routerLink]="['/room', facility.roomid?.id, 'view']">{{ facility.roomid?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/facility', facility.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
